@{
    ViewBag.Title = "Home Page";
}

<center>
    <div class="jumbotron">
        <div class="LeftImage">
            <img src="../Images/div1.png" />
        </div>
        <div class="RightImage">
        </div>
        <h1 class="stream"></h1>
        <p><span style="color:white">Stream + Rent Movies.</span></p>
    </div>
</center>
<div class="row">
    <center>
        <div class="col-md-4">
            <img src="../Images/rentaly.png" />
            <h3>Rent Movies</h3>
            <p>
                 powerful, patterns-based way <br/>to build websites
            </p>
            <p><a class="btn btn-default" href="../RentRecords/Create">Rent &raquo;</a></p>
        </div>
    </center>
    <center>
        <div class="col-md-4">
            <img src="../Images/returnly.png" />
            <h3>Process Returns</h3>
            <p>
                powerful, patterns-based way <br />to build websites
            </p>
            <p><a class="btn btn-default" href="../RentRecords/Index">Return &raquo;</a></p>
        </div>
    </center>
    <center>
        <div class="col-md-4">
            <img src="../Images/status.png" />
            <h3>Check Status</h3>
            <p>
                powerful, patterns-based way <br />to build websites
            </p>
            <p><a class="btn btn-default" href="../Home/Overdue">Status &raquo;</a></p>
        </div>
    </center>
</div>
