
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <br />
    <br />
</div>
<div class="row">
    <center>
        <h1> ADMIN PANEL</h1><br />
    </center>
</div>

<div class="row">
    <br />
    <br />
</div>
<center>
    <div class="col-md-4">
        <p><a class="btn btn-default" href="../Genres/Create">Update Genres &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-default" href="../Movies/Create">Add Latest Movies &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-default" href="../Movies/">Remove Movies &raquo;</a></p>
    </div>
    <div>
        <br />
        <br />
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-default" href="../Customers/Create">Add a Customer &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-default" href="../Customers/">Remove Customers &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-default" href="../Genres/">Remove a Genre &raquo;</a></p>
    </div>
</center>
<div class="row">
    <br />
    <br />
</div>
